*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e6e6;
  font-family: 'Cinzel', serif;
}

body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  background-color: inherit;
}

a:hover {
  color: grey;
}

ul {
  list-style-type: none;
}

.divider {
  width: 100vw;
  height: 10px;
  background-color: #666666;
}

.sub-divider {
  font-size: 4rem;
  margin-top: -30px;
  margin-bottom: 5px;
}

.section-container {
  width: 100vw;
  box-shadow: 0 7px 30px rgba(16, 9, 31, 0.1);
  padding: 5px;
  padding-top: 35px;

  display: flex;
  flex-direction: column;
}

.section-title {
  margin-top: 5px;
  font-size: 3rem;
  color: #336699;
}
/* ----- */
/*  Header  */

.header-container {
  position: fixed;
  width: 100vw;
  box-shadow: 0 7px 30px rgba(68, 63, 80, 0.1);
  background-color: rgb(179, 179, 184);
  border-bottom: 4px solid #666666;

  display: flex;
}

.header-container h1 {
  font-size: 2em;
  background-color: inherit;
  color: rgb(45, 45, 59);

  align-self: center;
  padding-right: 7px;
}

/*  -- nav -- */

.nav-toggle {
  font-size: 1.7rem;
  padding: 2px;
  margin-top: -3px;
  background-color: rgba(0, 0, 0, 0);
}

nav {
  z-index: 99;
  position: fixed;
  top: 41px;
  display: none;
}

nav ul {
  box-shadow: 0 7px 30px rgba(16, 9, 31, 0.1);

  display: flex;
  flex-direction: column;

  height: 100%;

  justify-content: space-evenly;

  z-index: 99;
}

ul li {
  padding: 10px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: none;
}

.nav-link a {
  color: black;
  font-size: 2rem;
}

.nav-link a:active {
  background-color: grey;
}

/* ------- */
/*  About-Container  */

.about-inner {
  display: flex;
  flex-direction: column;
}

.roles {
  margin-left: auto;
  margin-right: 5px;
  margin-top: -55px;
  margin-bottom: 10px;
}

.roles h4 {
  margin: 5px;
  font-size: 1.5em;
}

.tech-stack {
  text-align: center;
  width: 100%;
  flex: 1;
}

.tech-stack p {
  font-size: 1.5em;
}

.tech-stack h4 {
  font-size: 1.5em;
}

.additional-tech {
  margin-top: 15px;
  align-self: center;
  text-align: center;
}

.additional-tech p {
  margin: 5px;
  font-size: 1.5em;
  font-weight: bolder;
}

/* ----- */
/*  Projects Container */

#projects {
  text-align: center;
}

#projects .section-title {
  margin-bottom: 20px;
}

.projects-inner {
  display: flex;
  flex-direction: column;
}

.project-container {
  text-align: center;
  border-bottom: 1px solid black;
}

.project-container h3 {
  font-size: 1.5rem;
  margin: 3px;
  margin-top: 5px;
  padding: 7px;
}

.project-container p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.project-container a {
  display: inline-block;
  color: #336699;
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.projects-mobile-silo .project-container:last-child {
  border-bottom: none;
}

/* ------ */
/*  Code Container */

#coding .section-title {
  align-self: center;
  margin-bottom: 20px;
}

.code-inner {
  display: flex;
  justify-content: space-around;
}

.code-inner h4 a {
  display: inline-block;
  color: #336699;
  margin: 10px;
  font-size: 1.3rem;
}

.code-inner h4:active {
  color: white;
}

/* ------ */
/*  Influence Container */

#influence .section-title {
  align-self: center;
  margin-bottom: 20px;
}

.influence-inner {
  display: flex;
  justify-content: space-around;
}

.influence-inner h4 a {
  display: inline-block;
  color: #336699;
  margin: 10px;
  font-size: 1.3rem;
}

.code-inner h4 a:active {
  color: white;
}

/* ------ */
/*  Contact Container */

#contact .section-title {
  align-self: center;
  margin-bottom: 20px;
}

.contact-inner {
  text-align: center;
}

.contact-inner h5 {
  font-size: 1.5rem;
  margin: 10px;
}

.contact-inner h5 a {
  color: #336699;
}

/* @media only screen and (min-width: 700px) {
  .header-container {
    height: 300px;
  }
} */
