/*======================================*/
/*-----General-Sizing-&-Styling---------*/
* {
    box-sizing: border-box;
}

body {
    background: url(../images/water.gif) fixed center center;
}

.silo-width {
    max-width: 1280px;
}

/*======================================*/
/*-----Header---------------------------*/

header {
    width: 100%;
    height: 10vh;
}

.header-splash {
    background-color: rgba(194, 237, 243, .6);
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: flex-end;
}

.header-splash h1 {
    margin-right: auto;
    margin-left: 10px;
    font-size: 2em;
}

.header-splash a {
    text-decoration: none;
    font-size: 1.8em;
    color: rgb(189, 193, 201);
    margin-right: 10px;
    letter-spacing: -2px;
}

.header-splash a:hover {
    color: purple;
}

/*======================================*/
/*-----Silo-----------------------------*/

.silo {
    margin: auto;
    background-color: rgb(5,5,255);
    height: 100vh;
}

/*======================================*/
/*-----Silo-----------------------------*/