/*======================================*/
/*-----General-Sizing-&-Styling---------*/
* {
    box-sizing: border-box;
}

body {
    /* background: url(../images/snow.jpeg) fixed center center no-repeat;
    background-size: cover; */
    background-color: rgb(0,53,64);
}

.silo-width {
    max-width: 1280px;
}

/*======================================*/
/*-----Header---------------------------*/

header {
    width: 100%;
    height: 10vh;
}

.header-splash {
    background-color: rgb(50,161,152);
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: flex-end;
}

.header-splash h1 {
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 4px;
    font-size: 2.9em;
}

a {
    text-decoration: none;
    font-size: 1.8em;
    color: rgb(189, 193, 201);
    margin-right: 25px;
    margin-bottom: 2px;
    letter-spacing: -1px;
}

a:link, a:visited, a:active {
    color: rgb(0,53,64);
}

a:hover {
    color: rgb(238,232,214);
}

/*======================================*/
/*-----Main-Content---------------------*/

.silo {
    margin: auto;
    background-color: rgb(238,232,214);
    height: 83vh;
}

.content {
    margin-left: 15px;
    margin-right: 10px;
    padding-top: 20px;
    width: 60%;
    height: 100%;
    position: relative;
}

#profile-image {
    width: 250px;
    height: 200px;
    margin-right: 13px;
    margin-top: 10px;
    float: left;
}

.content p {
    font-size: 2em;
    margin: 10px;
}

.aside {
    float: right;
}

/*======================================*/
/*-----Footer---------------------------*/

footer {
    margin: auto;
    height: 7vh;
    background-color: rgb(50,161,152);
}