*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  position: relative;
  padding: 1rem;
}

header {
}

.header-copy h1 {
  margin-bottom: 1rem;
}

.header-copy p {
  margin-bottom: 1rem;
}

main section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
